<%= provide(:title,"Webアクアリウム") %>
<div class="photo_area"></div>
  <div class="container-fluid">
    <div class="row home">
      <div class="col-md-6 special-text link">
        <p>Web Aquarium.</p>
      </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4"></div>
              <div class="col-md-4 text-center">
                <%= link_to "Login",'/login', :style => "font-family: 'Amatic SC', cursive", :class => "link"%>
              </div>
                <div class="col-md-4 text-center">
                  <%= link_to "sign up",'/signup', :style => "font-family: 'Amatic SC', cursive", :class => "link"%>
                </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <h1 class="special-text title">Web Aquarium.</h1>
          <p class="default-text">水族館を、みんなで共有しよう。</p>
        </div>
        <div class="col-md-2"></div>
      </div>
  </div>
