<%= provide(:title,"Webアクアリウム") %>
<div class="photo_area"></div>
  <div class="container">
    <div class="row apptitle">
      <div class="col-sm-6 apptitle-left">Web</div>
      <div class="col-sm-6 apptitle-right">aquarium</div>
    </div>
  </div>

  <!-- <div class="item_login">
      <%= link_to "Login",'#', :style => "font-family: 'Amatic SC', cursive"%>
    </div>
        <div class="item_new">
          <%= link_to "sign up",'#', :style => "font-family: 'Amatic SC', cursive" %>
        </div>
          <div class="item_title">
            <h1>Web Aquarium.</h1>
          </div> -->
