<div class="row header">
  <div class="col-md-6">
    <div class="special-text link padding-side">
      <span style="margin:auto;">Web Aquarium.</span>
    </div>
  </div>
    <div class="col-md-6">
      <div class="text-right padding-side">
        <ul style="list-style:none;">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle special-text link" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu text-center">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider text-center"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </li>
                <% action = controller.action_name %>
                  <% if current_user?(@user) && action == 'edit' %>
                    <li><%= link_to "アカウントを削除", @user, method: :delete,
                                        data: { confirm: "本当によろしいですか？" } %></li>
                  <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</div>
